body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}

fieldset {
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.5);
    background-color: rgb(135, 206, 235);
}

legend {
    border: thin solid black;
    background-color: gray;
    padding: 10px;
    color: white;
}

.form-row input {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

.form-row input:focus {
    background-color: white;
}

.form-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.form-row label {
    width: 150px;
    text-align: right;
}

.check-row {
    display: flex;
    gap: 10px;
}

.spacer {
    width: 150px;
    text-align: right;
}

footer {
    text-align: center;
    font-weight: bold;
}